body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Utiliza toda la altura de la pantalla */
    background-color: transparent; /* Fondo transparente */
}

/* Barra de menú */


nav {
    position:fixed;
    background-color: #ffffff; /* Color de fondo de la barra de menú */
    width: 100%; /* Ancho de la barra de menú */
    z-index: 999; /* Asegurar que la barra de navegación esté en la parte superior */
}

ul {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 20px;
    overflow: hidden; /* Evita que los elementos se desborden */
    
}

li {
    float: right; /* Alinea los elementos de menú horizontalmente */
}

li a {
    display: block;
    color: #f3490b; /* Color del texto del menú */
    text-align: center;
    padding: 14px 16px; /* Espacio entre los elementos de menú */
    text-decoration: none; /* Quita la subrayado de los enlaces */
    font-family:'Montserrat', sans-serif;
}

li a:hover {
    background-color: #f3490b; /* Cambia el color de fondo cuando se pasa el cursor sobre un elemento */
    color: #ffffff;
}

/* Estilos para el contenedor 1 */


.container-1 {
    position: relative;
    text-align: left;
    padding: 100px;
    top: 120px; /* Ajusta según sea necesario */
}
/* Estilos para el título */


h1 {
    color: #fff;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

/* Estilos para el eslogan */


p {
    color: #f3490b;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif
}



/* Estilos para el contenedor de los botones */



.botones {
    position:relative; /* Posicionamiento absoluto */
    bottom:-40px; /* Alineación con el borde inferior */
    left: 79px; /* Alineación con el borde izquierdo */
   
}

/* Estilos para los botones */



.botones button {
    padding: 10px 30px;
    margin: 0 20px;
    background-color: transparent; /* Fondo transparente */
    color: #f3490b; /* Color del texto */
    border: 2px solid #000000; /* Borde blanco */
    border-radius: 5px;
    cursor: pointer;
    
    
}

/* Estilos para los botones al pasar el cursor */



.botones button:hover {
    background-color: #fff; /* Cambia el color de fondo al pasar el cursor */
    color: #ff5405; /* Cambia el color del texto al pasar el cursor */
}




/* Estilos para el video de fondo */



#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: -1; /* Colocar detrás de todo */
    opacity: 0.5; /* Reducir la opacidad para que el fondo sea visible a través del video */
}

/* Estilos para el fondo */


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -2; /* Colocar detrás del video */
}

/* Estilos para el overlay */


.overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo con transparencia */
    z-index: -1; /* Colocar detrás de todo */
}


.white-section {
    background-color: #fff;
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    position: relative; /* Permitir superposición */
    z-index: -1; /* Colocar detrás del texto */
}


/* Estilos opcionales para el contenido de la sección */
.white-section h1 {
    font-size: 36px;
    color: #000; /* Color de texto negro */
    position: relative;
    top: 10px; /* Ajuste hacia abajo */
}

.white-section p {
    font-size: 18px;
    color: #333; /* Color de texto gris oscuro */
    position: relative;
    top: 10px; /* Ajuste hacia abajo */
}


.container-2 {
    position: relative; /* Cambiado a relative */
    top: 50px; /* Ajusta según sea necesario */
    margin-bottom: 150px;
    margin-left: 97px;
}




.image-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 20px; /* Espacio entre texto e imágenes */
}

.image1,
.image2,
.image3 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Agregar sombra a las imágenes */
    transition: transform 0.5s ease; /* Transición suave para el efecto de rotación */
}


.image-container .image1 {
    max-width: 25%;
    height: auto;
    margin: 0 20px; /* Espacio entre imágenes */
    z-index: -1; /* Colocar detrás del texto */
    animation: rotateImage1 6s linear infinite; /* Animación de rotación */
    border-radius: 50%; /* Hacer la imagen redonda */
}


.image-container .image2 {
    max-width: 25%;
    height: auto;
    margin: 0 20px; /* Espacio entre imágenes */
    z-index: -1; /* Colocar detrás del texto */
    animation: rotateImage2 6s linear infinite; /* Animación de rotación */
    animation-delay: 2s; /* Retraso de la animación para la segunda imagen */
    border-radius: 50%; /* Hacer la imagen redonda */
}


.image-container .image3 {
    max-width: 25%;
    height: auto;
    margin: 0 20px; /* Espacio entre imágenes */
    z-index: -1; /* Colocar detrás del texto */
    animation: rotateImage3 6s linear infinite; /* Animación de rotación */
    animation-delay: 4s; /* Retraso de la animación para la tercera imagen */
    border-radius: 50%; /* Hacer la imagen redonda */
}


@keyframes rotateImage1 {
    0% {
        transform: rotate(0deg); /* Rotación inicial */
    }
    50% {
        transform: rotate(360deg); /* Rotación completa */
    }
    100% {
        transform: rotate(360deg); /* Mantener la posición */
    }
}

@keyframes rotateImage2 {
    0% {
        transform: rotate(0deg); /* Rotación inicial */
    }
    50% {
        transform: rotate(360deg); /* Rotación completa */
    }
    100% {
        transform: rotate(360deg); /* Mantener la posición */
    }
}

@keyframes rotateImage3 {
    0% {
        transform: rotate(0deg); /* Rotación inicial */
    }
    50% {
        transform: rotate(360deg); /* Rotación completa */
    }
    100% {
        transform: rotate(360deg); /* Mantener la posición */
    }
}






.white-section h1,
.white-section p {
    position: relative;
    z-index: 1;
    top: -30px; /* Ajusta según sea necesario */
}


.button-container {
    margin-top: 20px; /* Ajusta según sea necesario para subir o bajar los botones */
    display: flex;
    justify-content: center;
}

.button-container .boton {
    padding: 10px 45px;
    background-color: transparent;
    color: #ff5405; /* Color del texto */
    border: 2px solid #ff5405; /* Borde naranja */
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 100px; /* Espacio entre botones */
    min-width: 120px; /* Ancho mínimo */
    text-align: center; /* Centrar el texto */
    display: inline-block; /* Hacer que el botón se ajuste al ancho del texto */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}
.button-container .boton:hover {
    background-color: #eb7932; /* Cambia el color de fondo al pasar el cursor */
    color: white; /* Cambia el color del texto al pasar el cursor */
}


.logo-container {
    position: relative;
    top: 30px;
    left: 850px;
    transform: translateX(-50%);
    z-index: 1;
    
}

.logo-container img {
    width: 600px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}

.content {
    padding-top: 50px; /* Ajusta el espacio entre el logo y el contenido */
}

.animated-logo {
    animation: rotateLogo 16s linear infinite; /* Animación de rotación */
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg); /* Rotación inicial */
    }
    15% {
        transform: rotate(0deg); /* Mantener la posición durante 5 segundos */
    }
    20% {
        transform: rotate(360deg); /* Primera rotación completa */
    }
    80% {
        transform: rotate(360deg); /* Mantener la posición durante otros 5 segundos */
    }
    85% {
        transform: rotate(720deg); /* Segunda rotación completa */
    }
    100% {
        transform: rotate(720deg); /* Mantener la posición durante otros 5 segundos */
    }
}



.dual-color-section {
    display: flex;
    width: 100%;
    height: 680px; /* Ajusta la altura según sea necesario */
}

.left-part {
    width: 50%;
    background-color: #f3f3f3; /* Color gris claro */
    padding: 20px;
    box-sizing: border-box; /* Incluir padding en el ancho */
}

.right-part {
    width: 50%;
    background-color: #f3490b; /* Color naranja claro */
    position: relative; /* Añade posición relativa para los elementos hijos */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga */
}



.dual-color-section h2,
.dual-color-section p {
   
    font-family: 'Montserrat', sans-serif;
    margin: 30px; /* Eliminar márgenes predeterminados */
    padding: 5px; /* Añadir un poco de espacio alrededor del texto */
    color: #000000; /* Color de texto negro */
}

.right-part img {
    max-width: 100%; /* Ajustar el tamaño máximo de la imagen */
    max-height: 100%; /* Ajustar el tamaño máximo de la imagen */
    position: absolute; /* Añade posición absoluta */
    top: 0; /* Coloca la imagen en la parte superior */
    left: 30px; /* Coloca la imagen en la parte izquierda */
    opacity: 0; /* Oculta todas las imágenes */
}


.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
}

.team-member {
    display: flex; /* Para alinear los elementos horizontalmente */
    flex-direction: column; /* Para colocar los textos debajo de las imágenes */
    align-items: center; /* Centrar los elementos horizontalmente */
    width: 120px; /* Ajusta el tamaño de las imágenes según sea necesario */
    margin: 10px; /* Añadir espacio entre las imágenes */
    text-align: center; /* Centrar el contenido */
    margin:10px 40px; /* Añadir espacio entre las imágenes */
}

.team-member img {
    width: 100%; /* Ajusta el tamaño de las imágenes al 100% del contenedor */
    border-radius: 50%; /* Hacer las imágenes redondas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.team-member h3,
.team-member p {
    margin: 5px 0; /* Ajusta los márgenes superior e inferior del texto */
    font-size: 16px; /* Tamaño del texto */
    color: #333; /* Color del texto */
}



.footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear contenido a la izquierda */
   
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear contenido a la izquierda */
    margin-bottom: 20px; /* Espacio entre elementos */
}

.footer-logo img {
    width: 400px;
    margin-bottom: 20px;
    padding: 50px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 57px;
    margin-top: -80px;
 
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li:last-child {
    margin-bottom: 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-contact p {
    margin: 5px 0;
    margin-left: 70px;
   
}

.footer-contact{
    margin-top: -20px;
}

.footer-contact2 p{
    margin-top: -20px;
    margin: 5px 0;
    margin-left: 70px;
}

.footer-social {
    display: flex;
    flex-direction:none;
    margin-left: 62px;
    margin-top: 30px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 50px;
    
}

.footer-social a:not(:last-child) {
    margin-right: 20px; /* Añadir margen derecho solo a los elementos excepto al último */
}

.footer-bottom {
    text-align: center;
    margin-top: 120px;
    padding-bottom: 10px;
    
}


/* Estilos para el contenedor del desplegable */
.cart-dropdown {
    position: relative;
}

/* Estilos para el contenido del desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 10px;
    z-index: 1;
}

/* Mostrar el contenido del desplegable cuando se pasa el ratón */
.cart-dropdown:hover .dropdown-content {
    display: block;
}
